.game-board
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
    margin: 0 auto;
    display: flex;
    
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
    padding: 10px 5px;       

  }
  
  input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
  }

  